aiohappyeyeballs==2.4.3
aiohttp==3.10.10
aiosignal==1.3.1
alphacsc==0.4.1.dev23
anndata==0.10.9
annotated-types==0.7.0
anyio==4.6.2.post1
appdirs==1.4.4
array_api_compat==1.9.1
asttokens==2.4.0
attrs==23.2.0
backcall==0.2.0
backtrader==1.9.78.123
beautifulsoup4==4.12.2
bing-image-downloader==1.1.2
blinker==1.7.0
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
colour==0.1.5
comm==0.1.4
contourpy==1.1.1
cycler==0.12.1
debugpy==1.8.0
decorator==5.1.1
dill==0.3.8
distro==1.9.0
dl-scaman-checker==0.3.5
docker-pycreds==0.4.0
dtaidistance==2.3.12
dtw-python==1.5.3
empyrical==0.5.5
executing==2.0.0
factor_analyzer==0.5.1
fastdtw==0.3.4
ffmpeg==1.4
filelock==3.13.1
Flag==0.1.1
Flask==3.0.0
Flask-Login==0.6.3
Flask-SQLAlchemy==3.1.1
fonttools==4.43.1
frozendict==2.3.10
frozenlist==1.5.0
fsspec==2023.10.0
gender-detector==0.1.0
gender-guesser==0.4.0
gitdb==4.0.11
GitPython==3.1.43
google_images_download==2.8.0
greenlet==3.0.1
h11==0.14.0
h5py==3.10.0
HawkesPyLib==0.2.2
hmmlearn==0.3.2
html5lib==1.1
httpcore==1.0.7
httpx==0.27.2
idna==3.5
imagecodecs==2024.1.1
imageio==2.34.0
ipykernel==6.26.0
ipython==8.16.1
itsdangerous==2.1.2
jedi==0.19.1
Jinja2==3.1.2
jiter==0.7.1
joblib==1.3.2
jupyter_client==8.5.0
jupyter_core==5.4.0
kiwisolver==1.4.5
lazy_loader==0.4
llvmlite==0.42.0
loadmydata==0.0.11
lxml==4.9.3
MarkupSafe==2.1.3
matplotlib==3.8.0
matplotlib-inline==0.1.6
mne==1.8.0
mpmath==1.3.0
multidict==6.1.0
multitasking==0.0.11
natsort==8.4.0
nest-asyncio==1.5.8
networkx==3.2.1
nltk==3.8.1
numba==0.59.0
numpy==1.26.1
openai==1.54.4
opencv-python==4.9.0.80
outcome==1.3.0.post0
packaging==23.2
pandas==2.1.1
pandas-datareader==0.10.0
parso==0.8.3
patsy==0.5.3
peewee==3.17.0
pickleshare==0.7.5
Pillow==10.1.0
pip==24.0
platformdirs==3.11.0
pooch==1.8.2
praat-parselmouth==0.4.3
progressbar==2.5
prompt-toolkit==3.0.39
propcache==0.2.0
protobuf==5.28.3
psutil==5.9.6
pure-eval==0.2.2
py3Dmol==2.4.2
pyarrow==18.0.0
pycparser==2.21
pydantic==2.9.2
pydantic_core==2.23.4
pydeseq2==0.4.12
pyfolio==0.9.2
Pygments==2.16.1
pynndescent==0.5.13
pyparsing==3.1.1
PySocks==1.7.1
python-dateutil==2.8.2
python-dotenv==1.0.1
python-magic-bin==0.4.14
pytz==2023.3.post1
pywin32==306
PyYAML==6.0.2
pyzmq==25.1.1
QuantStats==0.0.62
rdkit==2024.3.6
regex==2023.10.3
requests==2.31.0
scikit-image==0.23.1
scikit-learn==1.3.2
scipy==1.11.3
seaborn==0.13.0
selenium==4.18.1
sentry-sdk==2.18.0
setproctitle==1.3.3
simple-image-download==0.5
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
sortedcontainers==2.4.0
soundfile==0.12.1
soupsieve==2.5
SpeechRecognition==3.10.0
SQLAlchemy==2.0.23
stack-data==0.6.3
statsmodels==0.14.0
sympy==1.12
tabulate==0.9.0
threadpoolctl==3.2.0
tifffile==2024.2.12
torch==2.1.2
torchvision==0.16.2
torch-geometric==2.6.1
torch-scatter==2.1.2+pt21cpu
tornado==6.3.3
tqdm==4.66.1
traitlets==5.12.0
trio==0.24.0
trio-websocket==0.11.1
typing_extensions==4.12.2
tzdata==2023.3
umap==0.1.1
umap-learn==0.5.7
urllib3==2.1.0
wandb==0.18.5
wcwidth==0.2.8
webencodings==0.5.1
Werkzeug==3.0.1
wsproto==1.2.0
xgboost==2.0.1
yarl==1.15.4
yfinance==0.2.33
pip==24.0
setuptools==65.5.0
